/* Custom CSS for Navbar */
.navbar {
  background-color: #333; /* Change the background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding around navbar items */
}

.navbar-brand {
  font-size: 24px;
  color: #eaeef2;
}

.navbar-nav {
  width: 100%; /* Full width for navbar links */
  display: flex;
  justify-content: center; /* Center align navbar links */
}

.navbar-nav .nav-item {
  margin-right: 10px; /* Space between navbar items */
}

.navbar-nav .nav-link {
  color: #fff; /* Link text color */
  font-weight: bold; /* Font weight for links */
}

.navbar-nav .nav-link:hover {
  color: #ffcc00; /* Hover color for links */
}

.navbar-toggler-icon {
  color: #fff; /* Color for the toggler icon */
}
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-header {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}

.news-container {
  background-color: #eaeef2; /* Light gray background color */
  padding: 20px; /* Padding around the container */
  border-radius: 8px; /* Rounded corners for the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Box shadow for a subtle effect */
}
.text-center{
  padding-bottom: 20px;
}

.card {
  margin-bottom: 20px; /* Space between cards */
}

.card-title {
  font-weight: bold; /* Bold font for the card title */
}

.card-img-top {
  border-radius: 8px 8px 0 0; /* Rounded top corners for the card image */
}
.about-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between cards as needed */
}

.about-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.about-card:hover {
  transform: translateY(-5px); /* Add hover effect */
}

.about-image img {
  max-width: 100%;
  height: auto;
}

.about-text {
  padding: 20px;
}

.about-text h2 {
  margin-bottom: 10px;
}

.about-text p {
  opacity: 0; /* Initially set opacity to 0 for fade-in animation */
  transition: opacity 0.5s ease-in-out; /* Smooth fade-in animation */
}

.about-card:hover .about-text p {
  opacity: 1; /* Fade in text when hovering over the card */
}
button.navbar-toggler {
  background-color: #eaeef2;
}
.banner {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px; /* Add margin if you want some space between the navbar and the banner */
}